.container {
    display: grid;
    grid-gap: 0rem;
    grid-template-areas:
      "test header side";
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5rem;
}
header {
    grid-area: header;
}
aside {
    grid-area: side;
}
h4{
    background-color: aliceblue;
    width: 15rem;
    margin: 0px auto;
    padding: 1rem;
    margin-bottom: 10px;
    
}
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "side";

    grid-template-columns: 1fr;
    grid-template-rows:
      1fr /* Header */
      auto; /* Sidebar */
  }
img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

    